@font-face {
  font-family: Montserrat;
  src: url(Montserrat-Regular.ttf);
}

@font-face {
  font-family: Domine;
  src: url(Domine-Regular.ttf);
}

html {
  font-size: 20px;
  letter-spacing: 0.02em;
  font-family: Montserrat, sans-serif;
  color: white;
  background: rgb(15,40,98);
  background: linear-gradient(298deg, rgba(15,40,98,1) 50%, rgba(19,51,124,1) 100%);
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: border-box;
}

body {
  position: static;
  margin: 0;
}

#navbar {
  display: flex;
  flex-direction: row;
  position: fixed;
  width: 100%;
  height: 60px;
  justify-content: flex-end;
  align-items: center;
  align-content: space-around;
  background-color: #091f36;
  z-index: 1;
}

.nav-link {
  margin-right: 60px;
  text-decoration: none;
  color: white;
  text-align: center;
}

#main-section {
  width: 100vw;
  max-width: 1499px;
  margin-left: auto;
  margin-right: auto;
}

#intro-section {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  text-align: center;
  padding-top: 100px;
}

#intro-section h1 {
  font-size: 2rem;
}

#headshot {
  width: auto;
  height: 100%;
  max-height: 300px;
}

.blurb {
  line-height: 1.5;
  text-align: justify;
  background-color: #091f36;
  max-width: 55ch;
  margin-top: 40px;
  padding-left: 25px;
  padding-right: 25px;
}

.blurb p {
  font-family: Domine, serif;
}

#projects {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}

#projects h1 {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
  font-size: 2rem;
  width: 100%;
}

.project-tile {
  width: 500px;
  height: 500px;
  text-decoration: none;
  color: white;
  text-align: center;
  background-color: #091f36;
  align-content: center;
  margin-bottom: 60px;
}

.project-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

#projects p {
  margin-top: 5px;
}

#profile-link {
  font-size: 1.5rem;
  padding: 20px;
  text-decoration: none;
  color: white;
  background-color: #091f36;
  text-align: center;
}

#contact {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 150px;
}

#contact h1 {
  text-align: center;
  font-size: 2rem;
  width: 100%;
  margin-bottom: 100px;
}

.contact-link {
  text-decoration: none;
  justify-content: center;
  align-items: center;
  color: white;
}

a:hover {
  opacity: 0.5;
  transition: all 0.3s ease;
}

@media only screen and (max-width: 1150px) {
  html {
    font-size: 16px;
  }

  #intro-section {
    flex-direction: column;
  }

  .nav-link {
    margin-right: 30px;
  }
  
  #projects {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  #projects h1 {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
  }

  .project-tile {
    width: 100%;
    height: 100%;
    max-width: 500px;
    max-height: 500px;
    margin-bottom: 20px;
  }

  #profile-link {
    margin-top: 30px;
    font-size: 1.2rem;
  }

  #contact {
    width: 75%;
    margin-bottom: 100px;
    margin-top: 100px;
  }
} 

@media only screen and (min-width: 2000px) {
  html {
    font-size: 25px;
  }

  #main-section {
    max-width: 1799px;
  }

  #headshot {
    max-height: 350px;
  }

  .project-tile {
    width: 600px;
    height: 600px;
  }
}