@font-face {
  font-family: Montserrat;
  src: url(Montserrat-Regular.ttf);
}

@font-face {
  font-family: Domine;
  src: url(Domine-Regular.ttf);
}

html {
  font-size: 20px;
  letter-spacing: 0.02em;
  font-family: Montserrat, sans-serif;
  color: rgb(0, 85, 165);
  background-color: #f7f7f7;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: border-box;
}

body {
  position: static;
  margin: 0;
}

#navbar {
  display: flex;
  flex-direction: row;
  position: fixed;
  width: 100%;
  height: 60px;
  justify-content: flex-end;
  align-items: center;
  align-content: space-around;
  background-color: #091f36;
  z-index: 1;
}

.nav-link {
  margin-right: 60px;
  text-decoration: none;
  color: white;
  text-align: center;
}

#main-section {
  max-width: 1200px;
  width: 95%;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  padding-left: 25px;
  padding-right: 25px;
}

#intro-section {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  text-align: left;
  padding-top: 75px;
  padding-bottom: 75px;
  line-height: 1.5;
  text-align: justify;
  background-color: white;
}

h2 {
  font-size: 40px;
  font-weight: bolder;
  width: 100%;
}

h2::after {
  content: "";
  display: block;
  position: relative;
  width: 90%;
  left: 50px;
  height: 5px;
  background-color: #0055a5;
}

#intro-section h1 {
  font-size: 2rem;
}

#headshot-div {
  width: 25%;
}

#headshot {
  width: auto;
  max-height: 300px;
}

.blurb {
  width: 75%;
}

.blurb p {
  font-family: Domine, serif;
}

#projects {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 50px;
}

#projects h1 {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: justify;
  font-size: 2rem;
  width: 100%;
}

.project-tile {
  width: 500px;
  height: 500px;
  text-decoration: none;
  color: rgb(0, 85, 165);
  text-align: center;
  background-color: white;
  align-content: center;
  margin-bottom: 60px;
}

.project-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

#projects p {
  margin-top: 5px;
}

#project-footer {
  text-align: center;
}

#profile-link {
  margin-left: auto;
  margin-right: auto;
  font-size: 1.5rem;
  padding: 20px;
  text-decoration: none;
  color: rgb(0, 85, 165);
  background-color: white;
  text-align: center;
}

#contact {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 150px;
}

#contact h1 {
  text-align: center;
  font-size: 2rem;
  width: 100%;
  margin-bottom: 100px;
}

.contact-link {
  text-decoration: none;
  justify-content: center;
  align-items: center;
  color: rgb(0, 85, 165);
}

a:hover {
  opacity: 0.5;
  transition: all 0.3s ease;
}

#resume-link {
  visibility: hidden;
}